table {
    border-collapse: collapse;
    background-image: url("https://plus.unsplash.com/premium_photo-1690522330990-250e9a828c08?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8");
    border-radius: 20px;
    overflow: hidden;
}

table,th,td {
    border: 2px solid lightcoral;
}

table {
    width: 60%;
    height: 60%;

}

/* row size (all)*/
tr {
    height: 70px;
}

/*colum width(all)*/
th {
    width: 120px;
}

td {
    width: 120px;
}